body{
     font-size: 14px;
     color: #333333;
     font-family: "PT Sans", Arial, sans-serif;
     line-height: 1.5
}

h1 {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
}

h2 {
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
}

h3 {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
}

.banner-left {
    background: url("../img/sedona-view-1-small.jpg") no-repeat;
}

/*.index-logo {
    background-image: url("../img/sedona-view-1-small.jpg");
}*/